* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Change font-family to poppins */
    font-family: sans-serif;
}

body {
    position: relative;
}

.airbnb-header {
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
    position: fixed;
    min-width: 100%;
    top: 0;
    background-color: #fff;
}

nav {
    display: flex;
    align-items: center;
    padding: 1.2rem;
}

#hero-section,
.card-section {
    width: 80vw;
    margin: 2rem auto;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image {
    width: 100%;
    margin-top: 3rem;
}

.text-container {
    margin-top: 3rem;
}

.text-container h1 {
    color: #FF5A5F;
    font-size: 2rem;
}

.text-container p {
    margin-block: 0.6rem;
}

@media screen and (min-width: 740px) {
    #hero-section {
        margin: 3rem auto;
    }

    .hero-image {
        width: 85%;
    }

    .text-container {
        margin-top: 5rem;
    }

    .text-container h1 {
        font-size: 3rem;
    }

    .text-container p {
        font-size: 1.5rem;
    }
}

.card-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.card-container {
    width: 16rem;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
    border-radius: 0.8rem;
}

.card-container .card-image {
    object-fit: cover;
    width: 100%;
}

.card-description {
    padding: 0 0.8rem;
    margin-block: 0.6rem;
}

.card-heading {
    font-size: 1.2rem;
}

.card-heading img {
    width: 7%;
    margin-right: 0.2rem;
}

.card-heading .gray-text {
    color: #707070;
}

.card-description p {
    margin-block: 0.5rem;
}

.card-description .price {
    font-size: 0.95rem;
}